---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<p>Interpretability is the common thread of our work: we study what language models encode and use, and why. This includes whether <a href="https://direct.mit.edu/coli/article/doi/10.1162/COLI.a.621/136361/Evaluation-Framework-for-Highlight-Explanations-of">highlight explanations reveal how models use their context</a> and <a href="https://arxiv.org/abs/2310.13506">how interactions between parts of the input drive a prediction</a>.</p>

<p>We bring these methods to four problem areas, each connected to the others through interpretability.</p>

{% comment %}Each research area is a file in _portfolio/.{% endcomment %}
{% include base_path %}

<figure class="research-overview">
  <img src="{{ base_path }}/images/research/overview.svg" alt="Interpretability at the center, connecting four problem areas: evaluation and peer review; generalization in NLP tasks; computational social science and the reliability of survey instruments; and law, governance and compliance.">
</figure>

{% assign research_areas = site.portfolio | sort: "order" %}
{% for post in research_areas %}
  {% include archive-single.html %}
{% endfor %}
