---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

We organize our work around three connected questions: how models use information, how their outputs should be evaluated, and how evidence can guide better language technologies. The areas below are broad research directions rather than separate silos.

{% comment %}Each research area is a file in _portfolio/.{% endcomment %}
{% include base_path %}

{% assign research_areas = site.portfolio | sort: "order" %}
{% for post in research_areas %}
  {% include archive-single.html %}
{% endfor %}
